log:
  level: "debug"
  path: "./logs/crypto.log"
  days: 7   # remove old logs after N days
  size: 10   # megabytes

db:
  host: "localhost"
  port: 8123
  user: "user"
  password: "pass"
  database: "default"

http:
  port: 8888
  active: false

analyzer:
  threads: 7
  timeframe: "4h"
  pair: "SOLUSDT"
  commission: 0.0018
  minCloses: 100            # минимальное кол-во takeprofits за весь период
  minSignals: 70            # минимальное кол-во пересечений индикаторов
  minSignalsLastMonths: 4   # минимальное кол-во пересечений индикаторов
  lastMonthsLimit: 2        # за указаный период
  minTakeProfits: 40        # минимальное кол-во положительных сделок (takeprofits)
