log:
  level: "debug"
  path: "./logs/crypto.log"
  days: 7   # remove old logs after N days
  size: 10   # megabytes

db:
  host: "localhost"
  port: 8123
  user: "user"
  password: "pass"
  database: "default"

analyzer:
  threads: 11
  pair: "SOLUSDT"
  timeframe: "4h"
  commission: 0.001
  minCloses: 100
  minSignals: 100
  takeprofit:
    start: 5.0
    end: 30.0
    step: 1.0
  stoploss:
    start: 5.0
    end: 30.0
    step: 1.0

  indicators:
    # 1-ая группа индикаторов
    -
      - type: sma
        coefs:
          start: 3.0
          end: 15.0
          step: 1.0
        sources:
          - L
          - O
          - C
          - H
          - LO
          - LC
          - LH
          - OC
          - OH
          - CH
          - LOC
          - LOH
          - LCH
          - OCH

      - type: ema
        coefs:
          start: 0.2
          end: 1.5
          step: 0.1
        sources:
          - L
          - O
          - C
          - H
          - LO
          - LC
          - LH
          - OC
          - OH
          - CH
          - LOC
          - LOH
          - LCH
          - OCH
      - type: dema
        coefs:
          start: 0.2
          end: 1.5
          step: 0.1
        sources:
          - L
          - O
          - C
          - H
          - LO
          - LC
          - LH
          - OC
          - OH
          - CH
          - LOC
          - LOH
          - LCH
          - OCH

      - type: tema
        coefs:
          start: 0.2
          end: 1.5
          step: 0.1
        sources:
          - L
          - O
          - C
          - H
          - LO
          - LC
          - LH
          - OC
          - OH
          - CH
          - LOC
          - LOH
          - LCH
          - OCH

      - type: temaZero
        coefs:
          start: 0.2
          end: 1.6
          step: 0.1
        sources:
          - L
          - O
          - C
          - H
          - LO
          - LC
          - LH
          - OC
          - OH
          - CH
          - LOC
          - LOH
          - LCH
          - OCH

    # 2-ая группа индикаторов
    -
      - type: sma
        coefs:
          start: 3.0
          end: 15.0
          step: 1.0
        sources:
          - L
          - O
          - C
          - H
          - LO
          - LC
          - LH
          - OC
          - OH
          - CH
          - LOC
          - LOH
          - LCH
          - OCH

      - type: ema
        coefs:
          start: 0.2
          end: 1.5
          step: 0.1
        sources:
          - L
          - O
          - C
          - H
          - LO
          - LC
          - LH
          - OC
          - OH
          - CH
          - LOC
          - LOH
          - LCH
          - OCH
      - type: dema
        coefs:
          start: 0.2
          end: 1.5
          step: 0.1
        sources:
          - L
          - O
          - C
          - H
          - LO
          - LC
          - LH
          - OC
          - OH
          - CH
          - LOC
          - LOH
          - LCH
          - OCH

      - type: tema
        coefs:
          start: 0.2
          end: 1.5
          step: 0.1
        sources:
          - L
          - O
          - C
          - H
          - LO
          - LC
          - LH
          - OC
          - OH
          - CH
          - LOC
          - LOH
          - LCH
          - OCH

      - type: temaZero
        coefs:
          start: 0.2
          end: 1.6
          step: 0.1
        sources:
          - L
          - O
          - C
          - H
          - LO
          - LC
          - LH
          - OC
          - OH
          - CH
          - LOC
          - LOH
          - LCH
          - OCH
