log:
  level: "debug"
  path: "./logs/crypto.log"
  days: 7   # remove old logs after N days
  size: 10   # megabytes

db:
  host: "localhost"
  port: 8123
  user: "user"
  password: "pass"
  database: "default"

http:
  port: 8888
  active: false

analyzer:
  commission: 0.001
  pair: "SOLUSDT"
  minCloses: 100
  minSignals: 100
  minSignalsLastMonths: 10
  lastMonthsLimit: 3
  minTakeProfits: 10
